<div class="card" *transloco="let t; read: 'ticketDetail.commentBox'">
  <div class="card-header">{{ t("title") }}</div>
  <div class="card-body">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="mb-2">
        <textarea
          class="form-control"
          rows="4"
          [placeholder]="t('placeholder')"
          formControlName="content"
          [class.is-invalid]="
            commentForm.get('content')?.invalid &&
            commentForm.get('content')?.touched
          "
        ></textarea>
        @if (commentForm.get('content')?.invalid &&
        commentForm.get('content')?.touched) {
        <!-- Per la validazione usciamo dallo scope con un'altra direttiva -->
        <div class="invalid-feedback" *transloco="let v_t">
          {{ v_t("validation.commentRequired") }}
        </div>
        }
      </div>
      <div class="d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="isLoading || commentForm.invalid"
        >
          @if (isLoading) {
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span> {{ t("submittingButton") }}</span>
          } @else {
          <span>{{ t("submitButton") }}</span>
          }
        </button>
      </div>
    </form>
  </div>
</div>
