<div class="auth-container" *transloco="let t">
  <div class="card auth-card">
    <div class="card-body">
      <div class="text-center mb-4">
        <img ngSrc="assets/img/logo.png" alt="Logo" width="60" height="60" />
        <h1 class="h3 mt-2 mb-3 fw-normal">{{ t("login.title") }}</h1>
      </div>

      <!-- In futuro qui potrebbero esserci i bottoni per login social se interni all'azienda -->

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            [placeholder]="t('login.emailPlaceholder')"
            formControlName="email"
            [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
          />
          <label for="email">{{ t("login.emailLabel") }}</label>
          @if (loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched) {
          <div class="invalid-feedback">
            @if (loginForm.get('email')?.errors?.['required']) {
            <span>{{ t("validation.emailRequired") }}</span> } @if
            (loginForm.get('email')?.errors?.['email']) {
            <span>{{ t("validation.emailInvalid") }}</span> }
          </div>
          }
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
            [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          />
          <label for="password">{{ t("login.passwordLabel") }}</label>
          @if (loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched) {
          <div class="invalid-feedback">
            <span>{{ t("validation.passwordRequired") }}</span>
          </div>
          }
        </div>
        <button
          class="w-100 btn btn-lg btn-primary"
          type="submit"
          [disabled]="isLoading()"
        >
          @if (isLoading()) {
          <span
            class="spinner-border spinner-border-sm"
            aria-hidden="true"
          ></span>
          <span role="status"> {{ t("login.loadingButton") }}</span>
          } @else {
          <span>{{ t("login.loginButton") }}</span>
          }
        </button>
      </form>
    </div>
  </div>
</div>
