<div class="auth-container" *transloco="let t; read: 'authForm'">
  <div class="card auth-card">
    <div class="card-body">
      <div class="text-center mb-4">
        <img ngSrc="assets/img/logo.png" alt="Logo" width="60" height="60" />
        <h1 class="h3 mt-2 mb-3 fw-normal">{{ t("loginTitle") }}</h1>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Campo Email -->
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            [placeholder]="t('emailPlaceholder')"
            formControlName="email"
            [class.is-invalid]="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          />
          <label for="email">{{ t("emailLabel") }}</label>
          @if (loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched) {
          <div class="invalid-feedback">
            @if (loginForm.get('email')?.errors?.['required']) {
            <span>{{ t("validation.emailRequired") }}</span>
            } @if (loginForm.get('email')?.errors?.['email']) {
            <span>{{ t("validation.emailInvalid") }}</span>
            }
          </div>
          }
        </div>

        <!-- Campo Password -->
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
            [class.is-invalid]="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          />
          <label for="password">{{ t("passwordLabel") }}</label>
          @if (loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched) {
          <div class="invalid-feedback">
            <span>{{ t("validation.passwordRequired") }}</span>
          </div>
          }
        </div>

        <!-- Pulsante di Login -->
        <button
          class="w-100 btn btn-lg btn-primary"
          type="submit"
          [disabled]="isLoading()"
        >
          @if (isLoading()) {
          <span
            class="spinner-border spinner-border-sm"
            aria-hidden="true"
          ></span>
          <span role="status"> {{ t("loadingButton") }}</span>
          } @else {
          <span>{{ t("loginButton") }}</span>
          }
        </button>
      </form>

      <div class="mt-4 text-center">
        <p>
          {{ t("toRegisterPrompt") }}
          <a [routerLink]="['/', Path.AUTH.BASE, 'register']">{{
            t("toRegisterLink")
          }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
