<div class="container-fluid" *transloco="let t">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2">{{ t("titles.ticketList") }}</h1>
    <a routerLink="/tickets/new" class="btn btn-primary">
      <i class="bi bi-plus-lg me-2"></i>
      {{ t("ticketList.createTicket") }}
    </a>
  </div>

  @if (ticketsResult(); as result) {
  <!-- Tabella dei Ticket -->
  <app-ticket-table [tickets]="result.content"></app-ticket-table>

  <!-- Paginazione -->
  <app-pagination
    [currentPage]="result.pageNumber + 1"
    [totalPages]="result.totalPages"
    [totalElements]="result.totalElements"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
  } @else {
  <p>{{ t("ticketList.loading") }}</p>
  }
</div>
